/*Default Values*/

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #000;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: #FFF;
}

.page-wrapper {
  max-width: 980px;
  margin: 0 auto;
  display: block;
  text-align: center;
}

/*Header*/

#title {
  font-family: 'Ropa Sans', sans-serif;
  font-size: 5em;
}

.fa-sun-o {
  font-size: 0.7em;
}
