/************
Default
Use Everywhre
Header
Main

*************/

/*Default*/
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #FFF;
  background-color: #730611;
}

/*Header*/

#main-title {
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 2rem;
}

/*Main*/
#main {
  text-align: center;
  font-size: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 100%;
  position: absolute;
  justify-content: center;
  align-items: center;
} /*Allows me to center vertically*/

.descriptions {
  margin: 0;
}

/*icon*/
.fa {
  padding: 1em;
}

/*search box*/
#search-box{
  display: none;
}

#search {
  border: 5px solid black;
  border-radius: 0.5em;
  background-color: transparent;
  font-size: 1.5em;
  color: #FFF;
  padding: 0.5em;
}
